body {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 8px;
}

input[type='text'] {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  
}

button {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border-color: transparent;
  cursor: pointer;
}
button:hover {
  background-color: #6c8cff;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 24px;
 
}
.gallery-item {
  border: 1px solid #808080;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
a{
  text-decoration: none;
}

.info {
  padding: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  text-align: center;
 gap: 24px;
  color: #2e2f42;
}
.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more:hover {
  background-color: #2980b9;
}


.loader,
.load-more {
  display: none;
}

.loader.visible,
.load-more.visible {
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}